.item{
	background: var(--boxbackground);
	border-radius: var(--radius);
	max-width: 555px;
	}
	
.item .image_default,
.item .image_single {
	display:flex;
	aspect-ratio: 16 / 9; 
	overflow:hidden;
	position: relative;
	line-height: 0px;
	-webkit-border-top-left-radius: var(--radius);
	-webkit-border-top-right-radius: var(--radius);
	-moz-border-radius-topleft: var(--radius);
	-moz-border-radius-topright: var(--radius);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}


.item .image_default img{
	width: 100%;
	line-height: 0px;
	z-index: 10;
    position: relative;
}
	
.item .image img {
    width: 100%;
	object-fit: cover;
}

.item .new{display:block; position:absolute; top:-6px; right:-6px; width:112px; height:112px; z-index: 30;}

.item .date{
	text-align:right;
	font-size:0.8rem;
}
	
.lb-nav a.lb-prev,
.lb-nav a.lb-next {
    opacity: 1!important;
}
	
	
.description{overflow:hidden; margin: 2rem 1.5rem 0rem 1.5rem;}
.readmore i{font-size: 0.7rem;}
	
	
.tags{margin: 1rem 1.5rem 0rem 1.5rem;}
.tags a{display: inline-block; color: #FFF; background: #121212; padding: 0.3rem 0.8rem; margin: 2px; border-radius: var(--radius); font-size: 0.9rem;}


.price{text-align: right; min-height: 40px; margin-bottom: 1rem;}
.price_sats{font-weight: 600; font-size: 1.6rem; color: var(--primarycolor); letter-spacing: 1px;}
.price_sats i{margin: 0 0 0 5px; font-weight:300;}
.price_eur{color: #9D9D9D; font-weight: 400; font-size: 0.8rem; letter-spacing: 1px; padding-right: 2.2rem;}



/*--- Item Menu Icon ---*/
.menu_icon {cursor: pointer;float: right;display: block;}
.menu_icon i{
	-webkit-transition: all 0.5s ease-in-out;
    position: relative;
    color: #fff;
    padding: 9px 15px;
    font-size: 16px;
    color: var(--primarycolor);
    cursor: pointer;
}
.menu_icon i:hover{background: var(--primarycolor); color: #fff;}
.menu_overlay{width:245px;display:none;position:absolute; z-index: 30; right:0px;top:32px; border-radius: var(--radius);}
.menu_overlay a{color: #fff; line-height: 2.2em; background: rgba(var(--profilebackground) var(--profiletransparency)); display: block; padding: 0.5rem 1rem; -webkit-transition: all 0.5s ease-in-out;}
.menu_overlay a:hover{background: var(--primarycolor);}
.menu_overlay .headline{border-bottom:1px solid #fff;color: #fff;padding-bottom: 10px;margin-bottom:10px;}
.menu{position:relative;right:-1px;font-size: 0.9em;text-transform:uppercase;}
.menu:hover .menu_overlay{display:block;}
/*--- Item Menu Icon ---*/


.profile{
	position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
	z-index: 40;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
    background: rgba(var(--profilebackground) var(--profiletransparency));
    transition: all ease 0.6s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    backface-visibility: hidden;
    font-weight: 600;
    line-height: 1rem;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.profile_picture img{width: 100%;}
.profile_picture{
    display: block;
    position: absolute;
    bottom: -10px;
    left: 1.5rem;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    overflow: hidden;
	background: var(--pagebackground);
	box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
	cursor:pointer;
}

.profile .profile_handle{
	display:block;
	padding: 0.7rem 1.9rem 0.5rem 6rem;
	color: #FFF;
	cursor:pointer;
}

.profile .trustcheck:after{
	content:'';
    top: 9px;
    margin-left: 6px;
    position: absolute;
    background: url(/public/images/trustcheck.svg);
    width: 17px;
    height: 17px;
    background-size: cover;
}

.profile .date{
	padding: 0.7rem 0.5rem 0.5rem 0.5rem;
	color: #9D9D9D;
}

.tg_link{padding: 5px; text-transform:uppercase; font-weight: 600; font-size: 0.8rem; letter-spacing: 1px;}
