#RewriteCond %{HTTP_HOST} !^www.domain.space
#RewriteRule (.*) https://www.domain.space%{REQUEST_URI} [R=301,L] 

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteOptions inherit
#Everything to index.php for routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

php_value max_execution_time 300

php_value upload_max_filesize 100M
php_value post_max_size 100M
